*{
  margin: 0;
  padding: 0;
}
.logo img{
  width: 180px;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.list ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.list ul li{
  list-style: none;
  font-size: 17px;
  cursor: pointer;
}
